@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Noto+Sans+Mono:wght@300;700&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
}

.hero {
    display: flex;
}

.hero-left,
.hero-right {
    flex: 1;
    position: relative;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 80px; 
    left: 55px; 
    height: auto;
    width: 30%;
}

/* .menu-bar {
    position: absolute;
    top: 80px; 
    right: 55px; 
    height: auto;
    width: 7%;
    background-color: rgb(45, 48, 48);
    border-radius: 20%;
    cursor: pointer;
    z-index: 1;
} */

img .menu-bar{
    cursor: pointer;
}

.overlay-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.808);
}

h2{
    position: absolute;
    top: 225px;
    left: 50px;
    background-color: white;
    z-index: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: rgb(42, 51, 51);
    padding: 3px;
}

h3{
    position: absolute;
    top:255px;
    left: 50px;
    color: white;
    z-index: 1;
    font-size: 40px;
    font-family: Noto Sans Mono, sans-serif;
    font-weight: bolder;
}

.hero-right-text{
    position: absolute;
    top:330px;
    left: 50px;
    color: white;
    z-index: 1;
    font-size: 18px;
    font-family: Noto Sans Mono, sans-serif;
    word-spacing: 4px;
    line-height: 25px;
}

.hero-left-text{
    position: absolute;
    top: 330px;
    left:170px;
    z-index: 1;
    font-size: 18px;
    font-family: Noto Sans Mono, sans-serif;
    word-spacing: 4px;
    line-height: 25px;
    color: white;
}

.hire-talent{
    position: absolute;
    top:490px;
    left: 50px;
    background-color: white;
    z-index: 1;
    padding: 10px;
    color: rgb(42, 51, 51);
    cursor: pointer;
    font-weight: bold;
}

.get-trained{
    position: absolute;
    top: 491px;
    left: 450px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.hero-left-h2{
    position: absolute;
    top: 225px;
    left: 340px;
    background-color: rgb(56, 55, 55);
    z-index: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: white;
    padding: 3px;
}

.typing-text{
    font-weight: bold;
    position: absolute;
    top:250px;
    left:150px;
    font-family: 'Noto Sans Mono',sans-serif;
    font-size: 40px;
}

.typing-text .typed-text{
    color: white;
}

.cursor{
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink{
    0% { background-color: black;}
    50% {background-color: white;}
    100%{background-color: black;}
}

.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.toggler{
    position: absolute;
    top: 5rem;
    left: 73rem;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 3;
}

.hamburger{
    position: absolute;
    top: 5rem;
    left: 73rem;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-color: rgb(56, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hamburger>div{
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.hamburger>div:before, .hamburger>div:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.hamburger>div:before{
    top:-10px;
}

.hamburger>div:after{
    top:10px;
}

.toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}

.toggler:checked + .hamburger>div:after, .toggler:checked + .hamburger>div:before{
    top: 0;
    transform: rotate(90deg);
}

.toggler:checked ~ .menu{
    visibility: visible;
}

.toggler:checked ~.menu>div{
    transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~.menu>div>div{
    opacity: 1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu > div{
    width:1600px;
    height: 1600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
    background-color: rgba(26, 25, 25, 0.9);
    transition: .6s;
    padding-top: 90%;
    padding-left: 30%;
}

.menu>div>div{
    max-width: 70vw;
    max-height: 100vh;
    opacity: 0;
}

.menu>div>div>ul>li{
    list-style: none;
}

.menu>div>div>ul>li>a{
    text-decoration: none;
    margin: .5rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 550;
    color: #585555;
    transition: .3s;
}

.menu>div>div>ul>li>a:hover{
    color:white;
}

.menu-logo{
    padding-bottom: 5%;
    height: auto;
    width: 20%;
}

