@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Noto+Sans+Mono:wght@300;700&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
}

.hero {
    display: flex;
}

.hero-left,
.hero-right {
    flex: 1;
    position: relative;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 80px; 
    left: 55px; 
    height: auto;
    width: 30%;
}

/* .menu-bar {
    position: absolute;
    top: 80px; 
    right: 55px; 
    height: auto;
    width: 7%;
    background-color: rgb(45, 48, 48);
    border-radius: 20%;
    cursor: pointer;
    z-index: 1;
} */

img .menu-bar{
    cursor: pointer;
}

.overlay-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.808);
}

h2{
    position: absolute;
    top: 225px;
    left: 50px;
    background-color: white;
    z-index: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: rgb(42, 51, 51);
    padding: 3px;
}

.job-ready{
    position: absolute;
    top:255px;
    left: 50px;
    color: white;
    z-index: 1;
    font-size: 40px;
    font-family: Noto Sans Mono, sans-serif;
    font-weight: bolder;
}

.hero-right-text{
    position: absolute;
    top:330px;
    left: 50px;
    color: white;
    z-index: 1;
    font-size: 18px;
    font-family: Noto Sans Mono, sans-serif;
    word-spacing: 4px;
    line-height: 25px;
}

.hero-left-text{
    position: absolute;
    top: 330px;
    left:170px;
    z-index: 1;
    font-size: 18px;
    font-family: Noto Sans Mono, sans-serif;
    word-spacing: 4px;
    line-height: 25px;
    color: white;
}

.hire-talent{
    position: absolute;
    top:490px;
    left: 50px;
    background-color: white;
    z-index: 1;
    padding: 10px;
    color: rgb(42, 51, 51);
    cursor: pointer;
    font-weight: bold;
}

.get-trained{
    position: absolute;
    top: 491px;
    left: 450px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.hero-left-h2{
    position: absolute;
    top: 225px;
    left: 340px;
    background-color: rgb(56, 55, 55);
    z-index: 1;
    font-family: Noto Sans Mono, sans-serif;
    color: white;
    padding: 3px;
}

.typing-text{
    font-weight: bold;
    position: absolute;
    top:250px;
    left:150px;
    font-family: 'Noto Sans Mono',sans-serif;
    font-size: 40px;
}

.typing-text .typed-text{
    color: white;
}

.cursor{
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink{
    0% { background-color: black;}
    50% {background-color: white;}
    100%{background-color: black;}
}

.menu-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.toggler{
    position: absolute;
    top: 5rem;
    left: 73rem;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 3;
}

.hamburger{
    position: absolute;
    top: 5rem;
    left: 73rem;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-color: rgb(51, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hamburger>div{
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.hamburger>div:before, .hamburger>div:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
}

.hamburger>div:before{
    top:-10px;
}

.hamburger>div:after{
    top:10px;
}

.toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}

.toggler:checked + .hamburger>div:after, .toggler:checked + .hamburger>div:before{
    top: 0;
    transform: rotate(90deg);
}

.toggler:checked ~ .menu{
    visibility: visible;
}

.toggler:checked ~.menu>div{
    transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~.menu>div>div{
    opacity: 1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu > div{
    width:1600px;
    height: 1600px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(24, 23, 23,0.9);
    transition: transform 0.3s ease-in;
    padding-top: 90%;
    padding-left: 30%;
}

.menu>div>div{
    max-width: 70vw;
    max-height: 100vh;
    opacity: 0;
}

.menu>div>div>ul>li{
    list-style: none;
}

.menu>div>div>ul>li>a{
    text-decoration: none;
    margin: .5rem;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 550;
    color: #585555;
    transition: .3s;
}

.menu>div>div>ul>li>a:hover{
    color:white;
}

.menu-logo{
    padding-bottom: 5%;
    height: auto;
    width: 20%;
} 

.heading{
    display: flex;
    padding-left: 25px;
    padding-top:50px;
}

.user-info{
    z-index: 1;
    background-color:rgb(52, 56, 56);
    width: 480px;
    height: 400px;
    border-radius: 5%;
    transform: translate(120%, -130%);
    font-weight:bold;
}

.user-info-icon{
    color: #28eea7;
    padding-right: 10px;
    font-size: 1.6em;
}

.user-info-header{
    color: white;
    font-size: 1.6em;
}

.user{
    padding-left: 28px;
    padding-top: 20px;
    font-size: 1.1em;
}

.user-email{
    padding-top: 10px;
}

.user-email,.user-id{
    font-size:small;
    color: #c2bfbf;
    font-weight:100;
}

.user-name{
    color: white;
}

.buttons{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    text-transform: uppercase;
}

.my-account-button{
    background-color: #28eea7;
    width: 400px;
    height: 30px;
    cursor: pointer;
    padding-top: 15px;
    color:rgb(37, 37, 37);
}

.log-out-button{
    background-color: #fb4747;
    width: 400px;
    height: 30px;
    cursor: pointer;
    padding-top: 15px;
    color: white;
}

.hr-container{
    margin-top: 70px;
    padding: 10px;
    background-color: #31b7f0;
    border-radius: 20px;
}

.hr-text{
    transform: translate(25%,-230%);
    color: white;
    font-weight: bold;
}

.small-text{
    transform: translate(25%,-470%);
    font-weight: 100;
    color: white;
    font-size: 0.8em;
}

.youtube-video-content{
    background-color: #dfdcdc;
}

iframe{
    position: absolute;
    top:100;
    left: 0;
    height: 100%;
    width: 85%;
    transform: translateX(7%);
    border:15px solid #28eea7;
    border-radius: 10px;
}

.youtube-text{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    font-weight: bold;
    color: #585555;
    font-size: 1.5em;
}

.user-info-icon{
    padding-bottom: 2%;
    padding-left: 5%;
}

.youtube-video-text{
    padding-top: 0.5%;
}

.circle-black{
    width: 22px; 
    height: 22px; 
    background-color: #2e2d2d; 
    border-radius: 50%; 
    margin-left: 850px;
}

.circle-white{
    width: 22px; 
    height: 22px; 
    background-color: white; 
    border-radius: 50%; 
    margin-left: 850px;
}

.circle-gray{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #c2bfbf;
    margin-left: 10px;
}

.circle-green{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #28eea7;
    margin-left: 10px;
}

.milestones{
    margin-top: 700px;
}

.milestones-head{
    display: flex;
}

.milestones-header{
    font-weight: bold;
    font-size: 1.7em;
}

.user-info-icon{
    font-weight: bold;
    padding-left: 9%;
}

.first-container{
    left: 6%;
    position: absolute;
    width: 38%;
    height: 53%;
    background-color: #ecedf3;
    border-radius: 6%;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.milestones-employment-text-number{
    font-size: 9em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #3a3939;
}

.milestones-employment-text-under-number{
    font-size: 2em;
    font-weight: bold;
    color: #3a3939;
}

.milestones-employment-small-text{
    display: flex;
    flex-direction: column;
}

.second-container-number{
    font-size: 4em;
    font-weight: bold;
    color: #3a3939;
    padding-left: 40px;
}

.second-style-small-text{
    padding-left: 40px;
}

.second-container{
    background-color: #ecedf3;
    position: absolute;
    left: 53%;
    width: 25%;
    height: 30%;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.third-container{
    position: absolute;
    left: 80%;
    width: 18%;
    height: 30%;
    background-color: #ecedf3;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

.fourth-container{
    position: absolute;
    left: 53%;
    top: 1760px;
    background-color: #ecedf3;
    width: 23%;
    height: 34%;
    border-radius: 7%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.fifth-container{
    left: 78%;
    width: 20%;
    height: 34%;
    border-radius: 7%;
    top:1760px;
    position: absolute;
    background-color: #ecedf3;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.programs{
    position: absolute;
    top: 2100px;
}

.programs-head{
    position: absolute;
    left: 80px;
    width:180px;
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: #3a3939;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 190vmin;
    height: 290px;
    position: absolute;
    left: 80px;
    top: 120px;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

h3{
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    font-weight: 600;
}

.tab-content{
    background-color: #3a3939;
    padding: 5px 40px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 600;
}

.tab-content .first-part{
    color: #ffc635;
}

.tab-content .second-part{
    color: white;
    word-spacing: -10px;
}

.tab-content p{
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #aaa5a5;
    font-weight: bold;
}

.tab-content div{
    display: none;
}

.tab-content .active{
    display: block;
}

.tabs .active{
    background-color: #3a3939;

}

.fcs-picture{
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(60%, -20%); 
    width: 350px;
    object-fit: contain;
    height: 500px;
    border-radius: 10px;
}

.first-button{
    font-size: .8em;
    font-weight: bold;
}

.active .lower-text-container{
    background-color:#1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 1px;
    font-size:14px;
}

.active .lower-text-second-container{
    background-color:#1d1d1d;
    display: flex;
    justify-content: right;
    position: absolute;
    width: 25%;
    margin-top: 1.8%;
    left: 35%;
    top: 424px;
    padding: 1px;
    font-size:14px;
    color: white;
    text-transform: uppercase;
}


.hire-talent-container{
    position: absolute;
    top: 2800px;
    background-color: #2e2d2d;
    width:100%;
}

.hire-talent-text{
    display: flex;
    padding: 40px 0px;
    align-items: baseline;
}

.hire-talent-text-header{
    color: white;
    font-weight: bold;
    width: 15pc;
    font-size: 30px;
    padding-left: 1%;
}

.become-a-recruitment-container{
    background-color:#1f1e1e ;
    width: 80%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    border-radius: 20px;
}

.become-partner-head{
    color: white;
    display: flex;
    font-weight: bold;
}

.become-partner-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #363738;
    width: 70%;
    padding: 7px;
    color: white;
    font-weight: bold;
}
.become-partner-numbers,.under-partner-numbers{
    color: #bdb5b5;
    font-size: .9em;
    font-weight: bold;
}
.color-text{
    color: #28eea7;
}

.become-partner-bottom{
    background-color: #363738;
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 95%;
}

.become-partner-bottom p{
    right: 100px;
    padding-left: 85%;
}

.become-partner-launch{
    display: flex;
    background-color: #1f1e1e;
    margin-top: 3%;
    width: 48%;
    margin-left:80px ;
    border-radius: 15px;
    align-items: center;
    color: white;
    font-size: 1.2em;
    padding: 17px;
    padding-left: 35%;
    margin-bottom: 50px;
}

.become-partner-picture{
    width: 20%;
    height: 20%;
}

.position-circle{
    display: flex;
}

.testimonial-container{
    position: absolute;
    top: 3600px;
}

.testimonial-header{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    font-size: 25px;
    padding-left: 1%;
    font-weight: bold;
}

.quotes-image{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.testimonial-box-text{
    color: #e9e3e3;
    font-weight: bold;
}

.testimonial-box{
    padding-left:30px ;
    display: flex;
    flex-direction: column;
    background-color: #3a3939;
    width: 1000px;
    height: 380px;
    margin-left: 90px;
    border-radius: 20px;
}

.user-information{
    display: flex;
    align-items: center;
}

.smaller-picture{
    margin-right: 20px;
}

.zeina-normal{
    width: 330px;
    height: 330px;
    margin-left: 650px;
    margin-top: -180px;
    border-radius: 20px;
}

.rabih-normal{
    width: 330px;
    height: 330px;
    margin-left: 650px;
    margin-top: -150px;
    border-radius: 20px;
}

.zeina-round{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    margin-top: -130px;
}

.smaller-picture p{
    color:white;
    margin-left: 90px;
    margin-top: -10px;
}

.user-info-text{
    margin-top: -45px;
    font-weight: bold;
}

.design{
    margin-left: 325px;
    margin-top: -38px;
    color: #28eea7;
}

.design-geek{
    margin-left: 190px;
    margin-top: -38px;
    color: #28eea7;

}

.design-nadeera{
    margin-left: 150px;
    margin-top: -38px;
    color: #28eea7;

}

.slide-row{
    display: flex;
    width: 5000px;
    transition: 1s;
}

.slide-col{
    flex: 0 0 auto;
    width: 800px;
    height: 400px;
    position:relative;
    margin-right: 400px;
}

.indicator{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background:#585555;
    cursor: pointer;

}

.testimonial{
    width: 1200px;
    height: 400px;
    overflow: hidden;
}

.active{
    color: #1d1d1d;
}

.circles{
    display: flex;
    margin-left: 150px;
    margin-top: -40px;
    margin-bottom: 40px;
    
}

.faq-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4200px;
    background-color: #363738;
    width: 1295px;
}

.faq-header{
    display: flex;
    padding-top: 50px;
}

.faq-text{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.question {
    font-weight: bold;
    font-size: 15px;
    color: white;
}


.faq-item ,.faq-view-all{
    background-color: #1d1d1d;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    cursor: pointer;
}

.answer {
    display: none;
    font-size: 13px;
    padding-top: 10px;
    color: #cecaca;
    font-weight: bold;
    transition: max-height 0.5s ease-in-out;
}

.answer:target{
    max-height: 800px;
}

.answer ul { 
    display: flex;
    flex-direction: column;
    padding: 1;
    margin: 1;
}

.color{
    color: #28eea7;
}

.third-answer{
    padding-bottom: 10px;
}

.answer li {
    display: inline-flex;
    margin-bottom: 10px;
}

.answer li:before {
    content: '\2022'; 
    color: #28eea7; 
    margin-right: 5px;
}

.question:before {
    content: '>';
    color: #28eea7; 
    margin-right: 5px; 
}


.third-answer-small-text{
    font-size: .9em;
}

.faq-view-all{
    color: white;
    font-weight: bold;
    padding-left: 1095px;
    text-transform: uppercase;
}

.contact-us{
    position: absolute;
    top: 2396px;
    background-color: #28eea7;
    width: 100%;
}

.contact-us-header{
    display: flex;
    align-items: baseline;
    background-color: #363738;
    margin: 52px;
    width: 200px;
    padding: 2px;
}

.contact-us-left-container{
    background-color:#363738;
    width: 220px;
    height: 500px;
    margin: 52px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.map{
    width: 20%;
    height: 32%;
    left: 5%;
    bottom: 38%;
}

.contact-us-left-container-header{
    color: #a5a0a0;
    font-weight: bold;
}

.contact-us-left-container-bottom-text{
    margin-top: 100%;
    font-size: .9em;
}

.first-text{
    color: white;
    font-weight: bold;
}

.second-text{
    color: #a5a0a0;
}

.header-text{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

@media all and (max-width: 1230px) {
    .hero {
        flex-direction: column;
    }

    .logo {
        top: 80px;
        left: 10px;
        width: 30%;
    }

    .hero-left-h2 {
        top: 200px;
        left: 150px;
        width: 35%;
    }

    .get-trained{
        left: 170px;
    }

    .menu-container {
        top: 0;
        left: 0;
    }

    .toggler,
    .hamburger {
        top: 1rem;
        left: 1rem;
    }
    .menu{
        flex-direction: column;
    }
    .menu > div {
        width: 90vw;
    }

    .youtube-text {
        padding-top: 20px;
        font-size: 1em;
    }
    
}
